@inherits LayoutComponentBase

@using ConfTool.Client.Authentication
@using Blazored.Toast

<BlazoredToasts />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://www.thinktecture.com" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
