@using Microsoft.AspNetCore.Components.Routing

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor Demos</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="time">
                <span class="oi oi-clock" aria-hidden="true"></span> Time
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="conferences">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Conferences
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="statistics">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Statistics
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="webcam">
                <span class="oi oi-camera-slr" aria-hidden="true"></span> Webcam
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
