@page "/conferences"

@using Grpc.Net.Client
@using ProtoBuf.Grpc.Client

@using BlazorWasmGrpcCodeFirst.Shared.DTO
@using BlazorWasmGrpcCodeFirst.Shared.Contracts

@inject GrpcChannel _grpc

<h1>Conferences</h1>

@if (_conferences == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@_conferences" Context="conf">
                <tr>
                    <td>@conf.Title</td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
}

@code {
    private List<ConferenceOverview> _conferences;
    private IConferencesService _conferencesService;

    protected override async Task OnInitializedAsync()
    {
        _conferencesService = _grpc.CreateGrpcService<IConferencesService>();

        await LoadConferences();
    }

    private async Task LoadConferences()
    {
        _conferences = (await _conferencesService.ListConferencesAsync()).ToList();
    }
}
